Banco de Dados
==

Um banco de dados relacional é uma coleção de dados organizados em tabelas que permite inserção, modificação, remoção e consulta de dados de forma eficiente e segura.

Existem vários bancos de dados que podem ser usados em Python.  O que usaremos aqui é um banco, o SQLite3, existente na biblioteca padrão que é de fácil manutenção.

Banco de dados relacionais só trabalham com tabelas, que consistem de linhas e colunas.  As colunas contém os dados individuais, e devem ter nome, tipo e, opcionalmente, restrição.

In [97]:
import sqlite3

#Esta é a forma de abrirmos um arquivo de sqlite
conn = sqlite3.connect('python2019.db')

# Bancos relacionais só trabalham com tabelas
try:
    conn.execute("CREATE TABLE alunos (CPF VARCHAR PRIMARY KEY, nome VARCHAR, "
        "sobrenome VARCHAR, nota REAL)")
except sqlite3.OperationalError:
    print("Tabela 'alunos' já existe. Ignorando erro...")

# Sempre que modificarmos a tabela temos que dar um commit() para salvar as modificações
conn.commit()
# O método close() desativa a conexão.  Nada mais pode ser feito no banco de dados após o close()
conn.close()

Tabela 'alunos' já existe. Ignorando erro...

As operações efetuadas em banco de dados em geral é usando a linguagem SQL.  Um resumo desta linguagem pode ser encontrado [aqui](http://files.zeroturnaround.com/pdf/zt_sql_cheat_sheet.pdf).  Outros dois mais completos podem ser achados [aqui](http://www.sqltutorial.org/wp-content/uploads/2016/04/SQL-cheat-sheet.pdf) e [aqui](http://www.sql-tutorial.net/sql-cheat-sheet.pdf).

Os comandos mais usados são os seguintes:
* INSERT - para inserir novos dados em uma tabela
* SELECT - para pesquisar dados em uma tabela
* UPDATE - para atualizar dados em uma tabela
* DELETE - para remover dados de uma tabela
* CREATE - para criar tabelas e views

In [98]:
conn = sqlite3.connect('python2019.db')

# Inserindo um valor
try:
    conn.execute("INSERT INTO alunos VALUES ('000.000.000-00', 'Astrogildo', 'Silva', 8.0)")

# Inserindo um valor através de variáveis
    cpf, nome, sobrenome, nota = "111.111.111-11", "Godofredo", "Ramos", 9.0
    conn.execute("INSERT INTO alunos VALUES (?, ?, ?, ?)", (cpf, nome, sobrenome, nota))
    cpf, nome, sobrenome, nota = "123.456.789-10", "João", "Matuto", 6.5
    conn.execute("INSERT INTO alunos VALUES (?, ?, ?, ?)", (cpf, nome, sobrenome, nota))
except sqlite3.IntegrityError:
    print("Dado já existente...  Desfazendo modificações!!!")
    conn.rollback()
else:
    print("Tudo ok.  Commitando...")
    conn.commit()
    
try:
    cpf, nome, sobrenome, nota = "109.876.543-21", "João", "da Cidade", 6.5
    conn.execute("INSERT INTO alunos VALUES (?, ?, ?, ?)", (cpf, nome, sobrenome, nota))
except sqlite3.IntegrityError:
    print("Dado já existente (novamente)...  Desfazendo modificações!!!")
    conn.rollback()
else:
    print("Tudo ok.  Commitando...")
    conn.commit()

Dado já existente...  Desfazendo modificações!!!
Dado já existente (novamente)...  Desfazendo modificações!!!

Além do tipo `Connection` retornado pela função `connect()`, o banco de dados também tem o tipo `Cursor`, que é o que é geralmente usado para executar as operações.

In [99]:
c = conn.cursor()

c.execute("UPDATE alunos SET nota = 7.0 WHERE nome = 'Godofredo'")
c.execute("UPDATE alunos SET nota = 10.0 WHERE nome = 'Ermengarda'")
c.execute("UPDATE alunos SET nota = 7.2 WHERE CPF = '109.876.543-21'")
conn.commit()

In [100]:
rows = c.execute("SELECT * FROM alunos")
for cpf, nome, sobrenome, nota in rows:
    print("CPF = {} - Nome = {} {}\t\tNota = {}".format(cpf, nome, sobrenome, nota))

CPF = 000.000.000-00 - Nome = Astrogildo Silva		Nota = 8.0
CPF = 111.111.111-11 - Nome = Godofredo Ramos		Nota = 7.0
CPF = 123.456.789-10 - Nome = João Matuto		Nota = 6.5
CPF = 222.222.222-22 - Nome = Rei Leão		Nota = 3.0
CPF = 333.333.333-33 - Nome = Rainha Leoa		Nota = 9.0
CPF = 444.444.444-44 - Nome = Ermengarda Assunção		Nota = 10.0
CPF = 109.876.543-21 - Nome = João da Cidade		Nota = 7.2

In [101]:
# Podemos inserir vários elementos de uma única vez usando o método executemany()
rows = [("222.222.222-22", "Rei", "Leão", 3.0),
       ("333.333.333-33", "Rainha", "Leoa", 9.0),
       ("444.444.444-44", "Ermengarda", "Assunção", 10.0)]
try:
    c.executemany("INSERT INTO alunos VALUES (?, ?, ?, ?)", rows)
except sqlite3.IntegrityError:
    print("Valores repetidos.  Desfazendo tudo...")
    conn.rollback()
else:
    print("Sucesso")
    conn.commit()

Valores repetidos.  Desfazendo tudo...

In [102]:
rows = c.execute("SELECT * FROM alunos WHERE nota >= 7.0")
print("Aprovados:")
for cpf, nome, sobrenome, nota in rows:
    print("CPF = {} - Nome = {} {}\tNota = {}".format(cpf, nome, sobrenome, nota))
    print()

# Fechando o arquivo
conn.close()

Aprovados:
CPF = 000.000.000-00 - Nome = Astrogildo Silva	Nota = 8.0

CPF = 111.111.111-11 - Nome = Godofredo Ramos	Nota = 7.0

CPF = 333.333.333-33 - Nome = Rainha Leoa	Nota = 9.0

CPF = 444.444.444-44 - Nome = Ermengarda Assunção	Nota = 10.0

CPF = 109.876.543-21 - Nome = João da Cidade	Nota = 7.2

Uma conexão com o banco de dados é também um gerenciador de arquivos, de modo que podemos usar a instrução ```with``` para abrir e fechar a conexão automaticamente.

In [103]:
with sqlite3.connect('python2019.db') as conn:
    rows = conn.execute("SELECT * FROM alunos WHERE nota >= 7.0")
    print("Aprovados:")
    for cpf, nome, sobrenome, nota in rows:
        print("CPF = {} - Nome = {:30s} Nota = {}".format(cpf, " ".join([nome, sobrenome]), nota))

Aprovados:
CPF = 000.000.000-00 - Nome = Astrogildo Silva               Nota = 8.0
CPF = 111.111.111-11 - Nome = Godofredo Ramos                Nota = 7.0
CPF = 333.333.333-33 - Nome = Rainha Leoa                    Nota = 9.0
CPF = 444.444.444-44 - Nome = Ermengarda Assunção            Nota = 10.0
CPF = 109.876.543-21 - Nome = João da Cidade                 Nota = 7.2